{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block style %}
<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>
{% endblock style %}

{% block content %}

<div class="home-container">
    
    <div>
        <h3>Browse Tags</h3>
        <hr>
        <div>
            <a href="{% url 'core:home'%}">All</a>
        </div>
        {% for topic in topics %}
        <div>
            <a href="{% url 'core:home'%}?q={{ topic.name }}">{{ topic.name }}</a>
        </div>
        {% endfor %}
    </div><!--browse tag-->
    
    <div>
        <h5>{{ room_count }} rooms available</h5>
        <p><a href="{% url 'core:create-room' %}">Create Room</a></p>
    
        {% for room in rooms %}
        <div>
            <span>@{{ room.host.username }}</span>
            <h3>{{ room.id }} - <a href="{% url 'core:room' room.id %}">{{ room.name }}</a></h3>
            <p>{{ room.topic }}</p>
            <p>
                <a href="{% url 'core:update-room' room.id %}">Edit</a> -
                <a href="{% url 'core:delete-room' room.id %}">Delete</a>
            </p>
            <hr>
        </div>
        <br>
        {% endfor %}
    </div><!--rooms-->
</div><!--home container-->
{% endblock content %}