{% extends 'base.html' %}

{% block content %}

<main class="layout layout--3">
    <div class="container">
      <!-- Topics Start -->
      {% include 'core/topic_component.html' %}
      <!-- Topics End -->

      <!-- Room List Start -->
      {% include 'core/feed_component.html' %}
      <!-- Room List End -->

      <!-- Activities Start -->
      {% include 'core/activity_component.html' %}
      <!-- Activities End -->
    </div>
</main>

{% endblock content %}



<div class="home-container">
    
    <div>
        {% include 'core/topic_component.html' %}
    </div>
    
    <div>
        <h5>{{ room_count }} rooms available</h5>
        <p><a href="{% url 'core:create-room' %}">Create Room</a></p>
    
        {% include 'core/feed_component.html' %}
    </div>

    <div>
        {% include 'core/activity_component.html' %}
    </div>
    
</div>
