{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
{% if page == 'login' %}
<div>
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <label for="username">Username:</label>
            <input id="username" type="text" name="username" placeholder="Enter Username">
        </div>

        <div>
            <label for="password">Password</label>
            <input id="password" type="password" name="password" placeholder="Enter password">
        </div>

        <input type="submit" value="Login">
    </form>

    <p>Haven't signed up yet?</p>
    <a href="{% url 'core:register' %}">Sign up</a>
</div>

{% else %}
<div>
    <form action="" method="post">
        {% csrf_token %}
        

        <input type="submit" value="Register">
    </form>

    <p>Already signed up yet?</p>
    <a href="{% url 'core:login' %}">Login</a>
</div>
{% endif %}
{% endblock content %}